/*The button is in a div to be center on the page*/
.button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    background-color: lightgray;
    color: black;
    font-size: 1em;
    text-align: center;
}
.buttonlayout {
    display: flex;
    justify-content: center;
}