footer {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--txandlightbg);
    text-align: right;
}
/* 800px / 16px = 50em */
@media (max-width: 50em) {
    footer {
        text-align: center;
    }
}