/*The table is used for the portfolio page*/
table {
    width : 95%;
    margin: 100px auto auto auto;
    border : 2px solid pink;
    border-collapse: collapse;
    background-color: ivory;
    color : black;
}
th {
    padding: 10px;
    border : 1px solid black;
    background-color: lightgrey;
    font-size : 1.2em;
    text-align: center;
}
td {
    padding: 20px;
    border : 1px solid black;
    font-size : 0.8em;
}
.tabletitle {
    background-color: lightpink;
}
table a {
    color: fuchsia;
}